body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


section {
    height: 100vh;
    background-color: white;
}

.hero {
    background-image: linear-gradient(to bottom, #845ec2, #d65db1, white);
    height: 100vh;
    color: white;
    font-size: 30px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    transform: translateY(-70px);
    transition: 0.8s;
}

#navList {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 15px;
}


#navList li a{
    /*width: 200px;*/
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    padding: 5px 16px;
    border-radius: 40px;
}


#navList li a:hover{
    color: #845ec2;
    background-color: white;
}

h1 {
    font-size: 80px;
    margin: 0;
}

h2 {
    font-size: 40px;
}

p {
    margin: 0;
    font-size: 25px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    animation: fade-in-up 1000ms forwards;
    animation-delay: 300ms;
    opacity: 0;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
    padding-top: 150px;
}

.hero-text p {
    padding-bottom: 30px;
    padding-top: 30px;
}

.button a{
    width: 100px;
    height: 35px;
    font-weight: 300;
    font-size: 15px;
    border: solid white;
    color: white;
    border-radius: 40px;
    text-align: center;
    margin-top: 20px;
    padding:10px;
    /* -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out; */
    transition: all 150ms ease-in-out;
}


.button a:hover {
    cursor: pointer;
    text-align: center;
    color: #845ec2;
    background-color: white;
    /* opacity: 0.75; */
}
.button a:active{
    background-color: darkgray;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 20px;
}

#about-me {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.subsection-alternative {
    display: flex;
    flex-direction: column;
    padding-bottom: 130px;
    padding-left: 80px;
    padding-right: 80px;
}

.about-me-image-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 20px rgb(238, 232, 232);
    margin: 10px;
    border-radius: 30px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    display:flex;
    flex-direction:row;
    padding: 80px;
    align-items:center;
    overflow:hidden;
    height:100vh;
    position: relative;
    font-family: 'Roboto', sans-serif;
    transition:.25s;

}

.project-container i {
    height: 46px;
    width: 46px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: #845ec2;
    position: absolute;
    color: white;
    border-radius: 50%;
}

.project-container i:first-child{
    left: 50px;
}

.project-container i:last-child{
    right: 50px;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}
    

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: aquamarine;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

span {
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 7px;
    transition: all 300ms ease-in-out;
    transform-origin: 1px 3px;
}

.header .hamburger.show  > span:first-child {
    transform: rotate(45deg);
}

.header .hamburger.show  > span:nth-child(2) {
    opacity: 0;
}

.header .hamburger.show  > span:last-child {
    transform: rotate(-45deg);
}

ul.menu {
    display: block;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #d149fa;
        margin: 0px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #d149fa;
    }

    h1 {
        font-size: 70px;
    }

    p {
        font-size: 1.25rem;
    }

    .logo {
        display: none;
    }

    .button {
        width: 8rem;
        height: 1.875rem;
        font-size: 1rem;
    }

    .button:hover {
        background-color: white;
        color: blue;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        /* opacity: 0.75; */
    }
    
}

/* animations */
.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }
    
    to {
        visibility: visible;
        opacity: 1;
    }
}


@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(0)px;
    }

    100% {
        opacity: 1;
        transform: translateY(-20px);
    }
}

.hidden{
    opacity: 0;
    filter: blur(50px);
    transform: translateY(20%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.project-card:nth-child(2){
    transition-delay: 200ms;
}

.project-card:nth-child(3){
    transition-delay: 400ms;
}

.project-card:nth-child(4){
    transition-delay: 600ms;
}

.about-me-text:nth-child(2){
    transition-delay: 200ms;
}






