body {
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(to bottom, #845ec2, #d65db1, white);*/
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    background-color:#ff99f7;
    background-image:
    radial-gradient(at 85% 58%, hsla(246,62%,67%,1) 0px, transparent 50%),
    radial-gradient(at 33% 96%, hsla(283,65%,63%,1) 0px, transparent 50%),
    radial-gradient(at 42% 15%, hsla(4,90%,65%,1) 0px, transparent 50%),
    radial-gradient(at 74% 87%, hsla(201,73%,75%,1) 0px, transparent 50%),
    radial-gradient(at 90% 26%, hsla(325,77%,68%,1) 0px, transparent 50%),
    radial-gradient(at 91% 92%, hsla(298,63%,62%,1) 0px, transparent 50%),
    radial-gradient(at 17% 6%, hsla(309,68%,67%,1) 0px, transparent 50%);
}

.header{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.logo{
    padding-top: 30px;
    width: 100px;
    height: 100%;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    transform: translateY(-70px);
    transition: 0.8s;
    width: 100%;
}

nav .navList{
    margin-right: 10px;
    list-style-type: none;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

nav .navList li a{
    padding: 15px 15px;
    color: white;
    text-decoration: none;
    line-height: 5px;
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    border-radius: 40px;
    transition: all 300ms ease-in-out;
    
}

nav .navList li a:hover{
    color: #845ec2;
    background-color: white;
}


section {
    display: grid;
    height: 100vh;
    /*background-color: white;*/
}

.hero {
    height: 100vh;
    color: white;
    font-size: 30px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

h1 {
    font-size: 80px;
    margin: 0;
    color: white;
}

h2 {
    font-size: 40px;
    color: white;
}

p {
    margin: 0;
    font-size: 25px;
    font-weight: 300;
    color: white;
}

a {
    cursor: pointer;
}

.subtext {
    font-size: 12px;
    font-weight: 300;
}

.hamburger {
    display: none;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    animation: fade-in-up 1000ms forwards;
    animation-delay: 300ms;
    opacity: 0;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 50px;
    padding-top: 150px;
}

.hero-text p {
    padding-bottom: 30px;
    padding-top: 30px;
}

.button{
    width: 100px;
    height: 35px;
    font-weight: 300;
    font-size: 15px;
    border: solid white;
    color: white;
    border-radius: 40px;
    text-align: center;
    margin-top: 20px;
    padding:10px;
    /* -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out; */
    transition: all 150ms ease-in-out;
    text-decoration: none;
}

.socials {
    padding-bottom: 100px;
}

.social {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 20px;
    transition: all 150ms ease-in-out;
}

#about-me {
    display: block;
    justify-content: center;
    align-content: center;
    padding: 150px 50px 50px 50px;
    height: 1000px
    
}

.bentogrid{
    display: grid;
    position: relative;
    margin-inline: auto;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

.grid1text{
    padding: 30px;
    font-size: small;
    color: #845ec2;
}
.grid2text{
    margin-top: 200px;
    padding: 30px;
    font-size: small;
    color:#845ec2;
}

.bentocard{
    color: #845ec2;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px  6px rgba(0,0,0,0.23);
    transition: all 200ms;
}

.grid1{
    grid-column: span 2 / auto;
    background-color:hsla(328,8%,98%,1);
    background-image:
    radial-gradient(at 96% 2%, hsla(303,80%,90%,1) 0px, transparent 50%),
    radial-gradient(at 33% 83%, hsla(284,26%,98%,1) 0px, transparent 50%);
    transition-delay: 300ms;
}
.grid2{
    grid-row: span 2 /auto;
    transition-delay: 400ms;
}
.grid2 .bentotext{
    top: 0px;
    margin-bottom: 100px;
}
.grid2 .bentoheader{
    top: 10px;
    width: 100%;
    font-size: medium;
    color: #845ec2;
    left: 75%;
    transform: translateX(-50%);
    position:absolute;
    z-index: 1;
}
.grid2 .slider-container{
    max-width: 292.9px;
    height: 496px;
    margin: 0;
    width: 100%;
    border-radius: 25px;
    position: relative;
}
.grid2 .slider-wrapper{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 292.9px;
    border-radius: 25px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    transition: all 1s;
}
.slider-wrapper .slide{
    scroll-snap-align: start;
    height: 496px;
    width: 292.9px;
    list-style: none;
    border-radius: 25px;
    margin: 0px;
    overflow: hidden;
    background-image: url("../img/innovapostdesign.png");
    background-size: cover;
    transition: all 500ms;
}
#slide2{
    height: 496px;
    width: 292.9px;
    background-image: url("../img/metro.png");
    background-size: cover;
}
.slider-wrapper::-webkit-scrollbar {
    display: none;
}
.slider-wrapper.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.slider-wrapper.dragging .slide{
    cursor: grab;
    user-select: none;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
   width: 0.5rem;
   height: 0.5rem;
   border-radius: 50%;
   background-color:#845ec2;
   opacity: 0.75;
   transition: opacity ease 250ms; 
}

.grid3{
    transition-delay: 500ms;
}
.grid4{
    transition-delay: 600ms;
}
.grid5{
    grid-column: span 3 / auto;
    transition-delay: 700ms;
}


.subsection-alternative {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding-bottom: 130px;
    padding-left: 80px;
    padding-right: 80px;*/
}

.information {
    align-items: center;
    padding-top: 150px;
}

.project-container{
    max-width: 905px;
    width: 100%;
    position: relative;
}

.project-container i {
    height: 50px;
    width: 50px;
    background: #845ec2;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transition: all 150ms ease-in-out;
    transform: translateY(-50%);
    box-shadow: 0 3px  6px rgba(0,0,0,0.23);
}


.project-container i:first-child{
    left: -30px;
}

.project-container i:last-child{
    right: -30px;
}

 .card-wrapper{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 10.5px);
    gap: 26px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    transition: all 1s;
}

.card-wrapper::-webkit-scrollbar {
    display: none;
}

.card-wrapper.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.card-wrapper.dragging .card{
    cursor: grab;
    user-select: none;
}

.card-wrapper .card{
    scroll-snap-align: start;
    height: 342px;
    width: 250px;
    list-style: none;
    border-radius: 25px;
    margin: 10px;
    overflow: hidden;
    background-image: url("../img/smartmockups.jpg");
    background-size: cover;
    transition: all 500ms;
}

#card2{
    background-image: url("../img/smartmockups_lpre3xsx.jpg");
    background-size: cover;
}
#card3{
    background-image: url("../img/smartmockups_lprg6tf6.jpg");
    background-size: cover;
}
#card4{
    background-image: url("../img/smartmockups_lptut7gf.jpg");
    background-size: cover;
}

.card:hover, .card:focus-within{
    box-shadow: 0 3px  6px rgba(0,0,0,0.23);
    transform: translateY(-0.5em);
}


.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    padding: 10px 14px;
    margin-top: 30px;
    color: white;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    /*border-radius: 25px;*/
}



.card-title{
    position: relative;
    width: max-content;
}

.card-title::after{
    content: "";
    position: absolute;
    height: 4px;
    left: calc(1.5rem * -1);
    bottom: 0;
    width: calc(100% + 1.5rem);
    background: #845ec2;
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
}

.card-button{
    border: none;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: #845ec2;
    border-radius: 40px;
    margin: 14px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

@media(hover){
    .button:hover {
        cursor: pointer;
        text-align: center;
        color: #845ec2;
        background-color: white;
        /* opacity: 0.75; */
    }

    .social:hover{
        box-shadow: 0 3px  6px rgba(0,0,0,0.23);
        transform: translateY(-0.1em);
    }

    .project-container i:hover{
        color: #845ec2;
        background: white;
    }

    .card-content{
        transform: translateY(60%);
        transition: transform 500ms ease;
    }

    .card-content > *:not(.card-title){
        opacity: 0;
        transition: opacity 500ms linear;
    }
    
    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title){
        opacity: 1;
        transition-delay: 1000ms;
    }
    
    .card:hover .card-content, .card:focus-within .card-content{
        transform: translateY(0);
        transition-delay: 500ms;
    }
    
    .card:focus-within .card-content{
        transition-duration: 0ms;
    }

    .card-title::after{
        transform: scaleX(0);
    }

    .card-button:hover{
        cursor: pointer;
        color: #845ec2;
        background-color: white;
    }

    .slider-nav a:hover{
        opacity: 1;
    }
}



@media (max-width: 960px) {
    /*
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }*/

    h1 {
        font-size: 60px;
        margin: 0;
    }

    h2 {
        font-size: 35px;
    }
    
    p {
        margin: 0;
        font-size: 20px;
        font-weight: 300;
    }

    .about-me-text {
        font-size: 20px;
    }

    nav .navList li a{
        padding: 15px 15px;
        color: white;
        text-decoration: none;
        font-size: 15px;
        line-height: 5px;
        display: block;
        height: 100%;
        border-radius: 40px;
        transition: all 300ms ease-in-out;
    }

    #about-me {
        display: block;
        justify-content: center;
        align-content: center;
        padding: 200px 50px 50px 50px;
        height: 1000px
    }

    .bentogrid{
        display: grid;
        margin-inline: auto;
        gap: 1rem;
        grid-template-columns: repeat(3, minmax(240px, 1fr));
        grid-auto-rows: 240px;
    }
    
    .bentocard{
        color: #845ec2;
        background-color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 200ms;
    }
    
    .grid1{
        grid-column: span 2 / auto;
        transition-delay: 300ms;
    }
    .grid2{
        grid-row: span 2 /auto;
        transition-delay: 400ms;
    }
    .grid2 .slider-container{
        max-width: 270.45px;
        height: 496px;
        margin: 0;
        width: 100%;
        border-radius: 25px;
        position: relative;
    }
    .grid2 .slider-wrapper{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns:  270.45px;
        border-radius: 25px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        margin: 0;
        padding: 0;
        transition: all 1s;
    }
    .slider-wrapper .slide{
        scroll-snap-align: start;
        height: 496px;
        width:  270.45px;
        list-style: none;
        border-radius: 25px;
        margin: 0px;
        overflow: hidden;
        background-image: url("../img/innovapostdesign.png");
        background-size: cover;
        transition: all 500ms;
    }

    .grid3{
        transition-delay: 500ms;
    }
    .grid4{
        transition-delay: 600ms;
    }
    .grid5{
        grid-column: span 3 / auto;
        transition-delay: 700ms;
    }
    

    .project-container{
        max-width: 650px;
        width: 100%;
        position: relative;
    }
    
    .project-container i {
        height: 50px;
        width: 50px;
        background: #845ec2;
        color: white;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 3px  6px rgba(0,0,0,0.23);
    }
    
    .project-container i:first-child{
        left: -30px;
    }
    
    .project-container i:last-child{
        right: -30px;
    }
    
     .card-wrapper{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 2) - 9.6px);
        gap: 20px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }
    
    .card-wrapper::-webkit-scrollbar {
        display: none;
    }
    
    .card-wrapper.dragging{
        scroll-snap-type: none;
        scroll-behavior: auto;
    }
    
    .card-wrapper.dragging .card{
        cursor: grab;
        user-select: none;
    }
    
    .card-wrapper .card{
        scroll-snap-align: start;
        height: 342px;
        width: 285px;
        list-style: none;
        border-radius: 25px;
        margin: 10px;
        background-color: #808080;
    }
    
}

@media (max-width: 850px){
    #about-me {
        display: block;
        justify-content: center;
        align-content: center;
        padding: 200px 50px 50px 50px;
        height: 1000px
    }

    .bentogrid{
        display: grid;
        margin-inline: auto;
        gap: 1rem;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-auto-rows: 200px;
    }
    
    .bentocard{
        color: #845ec2;
        background-color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 200ms;
    }
    
    .grid1{
        grid-column: span 2 / auto;
        transition-delay: 300ms;
    }
    .grid2{
        grid-row: span 2 /auto;
        transition-delay: 400ms;
    }
    .grid2 .slider-container{
        max-width: 233.12px;
        height: 416px;
        margin: 0;
        width: 100%;
        border-radius: 25px;
        position: relative;
    }
    .grid2 .slider-wrapper{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 233.12px;
        border-radius: 25px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        margin: 0;
        padding: 0;
        transition: all 1s;
    }
    .slider-wrapper .slide{
        scroll-snap-align: start;
        height: 416px;
        width: 233.12px;
        list-style: none;
        border-radius: 25px;
        margin: 0px;
        overflow: hidden;
        background-image: url("../img/innovapostdesign.png");
        background-size: cover;
        transition: all 500ms;
    }

    .grid3{
        transition-delay: 500ms;
    }
    .grid4{
        transition-delay: 600ms;
    }
    .grid5{
        grid-column: span 3 / auto;
        transition-delay: 700ms;
    }

}

@media (max-width: 760px) {
    nav{
        height: 0px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        transition: all 300ms ease-in-out;
        overflow: hidden;
    }

    .open{
        height: 100vh;
    }

    nav .navList{
        display: block;
        width: fit-content;
        margin: 100px auto 0 auto;
        padding: 4cqw;
        text-align: center;
        transition: all 300ms ease-in-out;
        opacity: 0;
    }
    .open .navList{
        opacity: 1;
    }
    nav .navList li a{
        margin-bottom: 50px;
        color: black;
        font-size: large;
    }


    
    .hamburger{
        position: absolute;
        z-index: 9999;
        display: block;
        top: 20px;
        right: 15px;
    }

    span {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 4px;
        background-color: white;
        margin-bottom: 5px;
        margin-top: 7px;
        margin-right: 7px;
        transition: all 300ms ease-in-out;
        transform-origin: 1px 3px;
    }
    
    .header .hamburger.show  > span:first-child {
        transform: rotate(45deg);
    }
    
    .header .hamburger.show  > span:nth-child(2) {
        opacity: 0;
    }
    
    .header .hamburger.show  > span:last-child {
        transform: rotate(-45deg);
    }

    #about-me {
        display: block;
        justify-content: center;
        align-content: center;
        padding: 100px 50px 50px 50px;
    }

    .bentogrid{
        display: grid;
        margin-inline: auto;
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-auto-rows: 200px;
    }
    
    .bentocard{
        color: #845ec2;
        background-color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 200ms;
    }
    
    .grid1{
        grid-column: span 2 / auto;
        transition-delay: 300ms;
    }
    .grid2{
        grid-column: span 2 /auto;
        grid-row: span 2 / auto;
        transition-delay: 400ms;
    }
    .grid2 .slider-container{
        max-width: 641.33px;
        height: 416px;
        margin: 0;
        width: 100%;
        border-radius: 25px;
        position: relative;
    }
    .grid2 .slider-wrapper{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 641.33px;
        border-radius: 25px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        margin: 0;
        padding: 0;
        transition: all 1s;
    }
    .slider-wrapper .slide{
        scroll-snap-align: start;
        height: 416px;
        width: 641.33px;
        list-style: none;
        border-radius: 25px;
        margin: 0px;
        overflow: hidden;
        background-image: url("../img/innovapostdesign.png");
        background-size: cover;
        transition: all 500ms;
    }


    .grid3{
        transition-delay: 500ms;
    }
    .grid4{
        transition-delay: 600ms;
    }
    .grid5{
        grid-column: span 2 / auto;
        transition-delay: 700ms;
    }
    

    

    .project-container{
        max-width: 345px;
        width: 100%;
        position: relative;
    }

    .project-container i {
        height: 50px;
        width: 50px;
        background: #845ec2;
        color: white;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 3px  6px rgba(0,0,0,0.23);
    }
    
    .project-container i:first-child{
        left: -30px;
    }
    
    .project-container i:last-child{
        right: -30px;
    }

    .card-wrapper{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 1) - 7.1px);
        gap: 10px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .card-wrapper::-webkit-scrollbar {
        display: none;
    }
    
    .card-wrapper.dragging{
        scroll-snap-type: none;
        scroll-behavior: auto;
    }
    
    .card-wrapper.dragging .card{
        cursor: grab;
        user-select: none;
    }
    
    .card-wrapper .card{
        scroll-snap-align: start;
        height: 342px;
        width: 285px;
        list-style: none;
        border-radius: 25px;
        margin: 10px;
        background-color: #808080;
    }

    h1 {
        font-size: 70px;
    }

    p {
        font-size: 1.25rem;
    }

    .button {
        width: 8rem;
        height: 1.875rem;
        font-size: 1rem;
    }

    .button:active{
        color: white;
        background-color: #845ec2;
    }

}

@media (max-width: 510px){
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 1.25rem;
    }

    nav{
        height: 0px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        transition: all 300ms ease-in-out;
        overflow: hidden;
    }

    .open{
        height: 100vh;
    }

    nav .navList{
        display: block;
        width: fit-content;
        margin: 100px auto 0 auto;
        padding: 40px;
        text-align: center;
        transition: all 300ms ease-in-out;
        opacity: 0;
    }
    .open .navList{
        opacity: 1;
    }
    nav .navList li a{
        margin-bottom: 100px;
        color: black;
        font-size: large;
    }


    .hamburger{
        position: absolute;
        z-index: 9999;
        display: block;
        top: 10px;
        right: 12px;
    }

    span {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 4px;
        background-color: white;
        margin-bottom: 5px;
        margin-top: 7px;
        margin-right: 7px;
        transition: all 300ms ease-in-out;
        transform-origin: 1px 3px;
    }
    
    .header .hamburger.show  > span:first-child {
        transform: rotate(45deg);
    }
    
    .header .hamburger.show  > span:nth-child(2) {
        opacity: 0;
    }
    
    .header .hamburger.show  > span:last-child {
        transform: rotate(-45deg);
    }
    

    
    .hero-text {
        margin-left: 30px;
        margin-bottom: 200px;
        padding-top: 50px;
    }
    
    .hero-text p {
        padding-bottom: 30px;
        padding-top: 30px;
    }

    #about-me {
        display: block;
        justify-content: center;
        align-content: center;
        padding: 100px 50px 50px 50px;
        height: 1300px;
    }

    .bentotext{
        padding: 30px;
        font-size: 10px;
        color: #845ec2;
    }

    .bentogrid{
        display: grid;
        margin-inline: auto;
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-auto-rows: 200px;
    }
    
    .bentocard{
        color: #845ec2;
        background-color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 200ms;
    }

    
    .grid1{
        grid-column: span 2 / auto;
        transition-delay: 300ms;
    }
    .grid2{
        grid-column: span 2 /auto;
        grid-row: span 1 / auto;
        transition-delay: 400ms;
    }
    .grid2 .slider-container{
        max-width: 393.33px;
        height: 200px;
        margin: 0;
        width: 100%;
        border-radius: 25px;
        position: relative;
    }
    .grid2 .slider-wrapper{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 393.33px;
        border-radius: 25px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        margin: 0;
        padding: 0;
        transition: all 1s;
    }
    .slider-wrapper .slide{
        scroll-snap-align: start;
        height: 200px;
        width: 393.33px;
        list-style: none;
        border-radius: 25px;
        margin: 0px;
        overflow: hidden;
        background-image: url("../img/innovapostdesign.png");
        background-size: cover;
        transition: all 500ms;
    }

    .grid3{
        grid-column: span 2 /auto;
        transition-delay: 500ms;
    }
    .grid4{
        grid-column: span 2 /auto;
        transition-delay: 600ms;
    }
    .grid5{
        grid-column: span 2 / auto;
        transition-delay: 700ms;
    }

    .project-container{
        max-width: 300px;
        width: 100%;
        position: relative;
    }

    .project-container i {
        height: 50px;
        width: 50px;
        background: #845ec2;
        color: white;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 3px  6px rgba(0,0,0,0.23);
    }
    
    .project-container i:first-child{
        left: -30px;
    }
    
    .project-container i:last-child{
        right: -30px;
    }

    .card-wrapper{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100% / 1) - 4.5px);
        gap: 10px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    .card-wrapper .card{
        scroll-snap-align: start;
        height: 342px;
        width: 240px;
        list-style: none;
        border-radius: 25px;
        margin: 10px;
        background-color: #808080;
    }

}

@media (max-width: 384px){
    #about-me {
        display: block;
        justify-content: center;
        align-content: center;
        padding: 100px 50px 50px 50px;
    }

    .bentogrid{
        display: grid;
        margin-inline: auto;
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-auto-rows: 100px;
    }
    
    .bentocard{
        color: #845ec2;
        background-color: white;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 200ms;
    }
    
    .grid1{
        grid-column: span 2 / auto;
        grid-row: span 2 / auto;
        transition-delay: 300ms;
    }
    .grid2{
        grid-column: span 2 / auto;
        grid-row: span 2 / auto;
        transition-delay: 400ms;
    }
    .grid2 .slider-container{
        max-width: 267.33px;
        height: 216px;
        margin: 0;
        width: 100%;
        border-radius: 25px;
        position: relative;
    }
    .grid2 .slider-wrapper{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 267.33px;
        border-radius: 25px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        margin: 0;
        padding: 0;
        transition: all 1s;
    }
    .slider-wrapper .slide{
        scroll-snap-align: start;
        height: 216px;
        width: 267.33px;
        list-style: none;
        border-radius: 25px;
        margin: 0px;
        overflow: hidden;
        background-image: url("../img/innovapostdesign.png");
        background-size: cover;
        transition: all 500ms;
    }

    .grid3{
        grid-column: span 2 /auto;
        grid-row: span 2 / auto;
        transition-delay: 500ms;
    }
    .grid4{
        grid-column: span 2 /auto;
        grid-row: span 2 / auto;
        transition-delay: 600ms;
    }
    .grid5{
        grid-column: span 2 / auto;
        grid-row: span 2 / auto;
        transition-delay: 700ms;
    }
}



/* animations */
.has-fade {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }
    
    to {
        visibility: visible;
        opacity: 1;
    }
}


@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(0)px;
    }

    100% {
        opacity: 1;
        transform: translateY(-20px);
    }
}

.hidden{
    opacity: 0;
    filter: blur(50px);
    transform: translateY(10%);
    /*transition: all 1s;*/
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.card:nth-child(2){
    transition-delay: 200ms;
}

.card:nth-child(3){
    transition-delay: 400ms;
}

.card:nth-child(4){
    transition-delay: 600ms;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}








